<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>Eat-Da-Burger!</title>

	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script> --}}
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
	<script src="/assets/js/burgers.js"></script>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
	<div class="jumbotron jumbo1">
    <h1 class="text-center big"><a href="/" class="anchor1">Eat-Da-Burger!</a></h1>
  </div>
  <div class="container">
	{{{ body }}}
	</div>
	<!-- Modal -->
  <div id="results-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content text-center">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- <h2 class="modal-title text-center" style="color:red;">Name is Required</h2> -->
        </div>
        <div class="modal-body">
					<h4 class="text-center" style="color:red;">Name and description are required.</h4>
					<h4>Please enter the burger name and description.</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</body>

</html>